body {
    margin: 0;
    background-color: white;
}

.card-header {
    background: #c9ddff;
}

.input-group-text {
    background-color: #e9ecef;
}

.btn-group .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}